
html {
    background-color: #1e1e2f;
    font-family: 'Poppins', sans-serif;
}


#applyContainer {
    margin: 5%;
    background-color: rgba(40, 40, 55, 0.9);
    backdrop-filter: blur(8px);
    padding: 4%;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}


h1 {
    color: white;
}


textarea {
    width: 80%;
    height: 150px;
    background: rgba(50, 50, 70, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    resize: none;
}


button {
    border: none;
    background: #ff9800;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-top: 20px;
    display: block;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e68900;
}

