
body {
    background: linear-gradient(135deg, #1e1e2f, #25293d);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-color:#1a1d2e;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.welcome {
    text-align: center;
    padding: 200px;
    /* background-image: url("../photos/job.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border-radius: 50px; */

}

.card {
    width: 70%;
    border-radius: 8px;
    padding: 10px 40px;
    margin: 50px auto;
    background: rgba(40, 40, 55, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card h1{
    width: 100%;
}


.jobtypes p{
    color: white;
    text-decoration: none;
    font-size: large;
}

.jobtypes a{
    padding: 5px;
    color: white;
    text-decoration: none;
}

.jobcard {
    background-color: rgb(50, 50, 70);
    padding: 0 10px;
    margin: 20px 20px;
    border-radius: 8px;
    width: 40%;
    height: 250px;
}
.jobcard button{
    border-radius: 9px;
    align-items: center;
    border:none;
    cursor: pointer;
}

.jobcard:hover{
    transform: scale(1.02);
}

.employercard {
    background-color: rgb(50, 50, 70);
    padding: 0 10px;
    margin: 20px 20px;
    border-radius: 8px;
    width: 40%;
    height: 250px;
}

.employercard:hover{
    transform: scale(1.02);
}

#bottomnav {
    margin:auto;
    padding-top: 10px;
    padding-bottom: 50px;
    color: white;
    text-decoration: underline;
    text-align: center;
}

#bottomnav a{
    color: white;
    text-decoration: none;
    text-align: center;
}
