#innerHTML {
    margin: 4%;

    background-color: rgba(105, 105, 105, 0.477);
    padding: 3%;
    padding-left: 10%;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: rgb(225, 225, 225);
}

#companyLogo {
    max-width: 15%;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.548);
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.507); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#applyButton{
    border: 0px;
    background-color: rgb(0, 68, 255);
    color: white;
    padding: 2%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#applyButton:hover{
    border: 0px;
    background-color: rgb(117, 125, 150);
    color: white;
    padding: 2%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#innerText{
    background-color: rgba(255, 255, 255, 0.621);
    border-radius: 5px;
    padding: 5%;
    margin: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#bookmark{max-width: 5%; display: block; margin-left: auto;}

.bookClick{transform:rotate(45deg);
background-color: rgba(0, 0, 255, 0.249);
}
